.footer-wrapper {
    h4 {
        margin: 1rem 0;
        font-size: 1.2rem;
    }
    .footer-left-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        // grid-column: 1;
        // margin-left: 40%;
        img {
            width: 2rem;
            background-color: black;
            margin: 1rem 1.5rem; 
        }
    }
    .footer-center-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        .footer-center-text {
            margin: 0.5rem 0;
            font-weight: 500;
        }
    }
    .footer-right-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        .footer-right-title {
            margin-top: 4rem;
        }
        .footer-right-text {
            margin: 0.5rem 0;
            font-weight: 500;
        }
        .footer-right-text-2 {
            margin-bottom: 3rem;
        }
    }

}