* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar-background {
    background-color: #f8f4fc;
}
.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 2;
    margin: 0 400px;
    background-color: #f8f4fc;
    .navbar-top-wrapper {
        display: flex;
        grid-column: 2;
        grid-row: 1;
    }
    .navbar-img {
        width: 7%;
        margin: 10px 10px 0 0;
    }
    .navbar-text-wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 18px;
                font-weight: bold;
                select {
                    font-weight: bold;
                    background-color: #f8f4fc;
                    border: none;
                    font-size: 16px;
                    width: 100px;
                    cursor: pointer;
                }
                select:active {
                    background-color: white;
                }
            }
            li:hover {
                cursor: pointer;
                color: rgba(46, 46, 46, 0.8);
                transition: 0.3s;
            }
        }
        button {
            margin-left: 380px;
            padding: 15px 10px;
            width: 180px; 
            background-color: black;
            border: none;
            font-size: 18px;
            font-weight: 700;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    .navbar-search-wrapper {
        background-color: #d09c9c;
        width: 1070px;
        grid-row: 2;
        grid-column: 2;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        input {
            padding: 12px;
            margin-right: 40px;
            background-color: #d6aaaa;
            border: none;
            color: white;
        }
        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 23px;
        }
        .navbar-search-logo-google {
            width: 20px;
            margin-left: 350px;
        }
        .navbar-search-logo {
            width: 20px;
        }
    }
}
