* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

//13 abril 2024 empiezo a cambiar el design a Mobile First

.navbar-background {
    background-color: #f8f4fc;
}
.navbar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar-top-wrapper {
        display: flex;
        .navbar-img {
            width: 5rem;
            padding: 1rem;
        }
        a {
            .navbar-hamburger-logo {
                margin-left: 7rem;
                margin-top: 1.6rem;
            }
        }
        
    }
    //Links y textos
    .navbar-text-wrapper {
        display: none;
        gap: 8px;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            .navbar-text-link {
                margin: 18px;
                font-weight: bold;
                text-decoration: none;
                color: black;
                select {
                    font-weight: bold;
                    background-color: #f8f4fc;
                    border: none;
                    font-size: 16px;
                    width: 100px;
                    cursor: pointer;
                }
                select:active {
                    background-color: white;
                }
            }
            li:hover {
                cursor: pointer;
                color: rgba(46, 46, 46, 0.8);
                transition: 0.3s;
            }
        }
        button {
            display: block;
            margin-left: 380px;
            padding: 15px 10px;
            width: 180px; 
            background-color: black;
            border: none;
            font-size: 18px;
            font-weight: 700;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    //Boton de reserva navbar
    .navbar-reservation-button{
        background-color: black;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        padding: 1.2rem;
        margin-bottom: 1rem;
        margin-left: 5rem;
        a {
            text-decoration: none;
            color: white;
        }
    }
    //Barra de navegacion 
    .navbar-search-wrapper {
        background-color: #d09c9c;
        width: 70%;
        height: 100%;
        padding: 0.9rem;
        padding-top: 0.7rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
        input {
            padding: 0.8rem;
            width: 90%;
            background-color: #d6aaaa;
            border: none;
            color: white;
        }
        a {
            display: none;
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 23px;
        }
        .navbar-search-number {
            display: block;
        }
    }
}
