.sedes-wrapper {
    margin: 1.9rem;
    margin-top: 4rem;
    .sedes-info-wrapper {
       
        .sedes-info-h2 {
            font-weight: bold;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        .sedes-info-p-1 {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        .sedes-info-p-2 {
            font-size: 1.4rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
    }
    .sedes-img-maps-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
            width: 100%;
            margin-bottom: 1rem;
        }
        iframe {
            width: 100%;
        }
    }
}

