* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.navbar-background {
  background-color: #f8f4fc;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-wrapper .navbar-top-wrapper {
  display: flex;
}
.navbar-wrapper .navbar-top-wrapper .navbar-img {
  width: 5rem;
  padding: 1rem;
}
.navbar-wrapper .navbar-top-wrapper a .navbar-hamburger-logo {
  margin-left: 7rem;
  margin-top: 1.6rem;
}
.navbar-wrapper .navbar-top-wrapper .navbar-hamburger-menu-show {
  position: absolute;
  top: 6rem;
  z-index: 100;
  width: 80%;
  font-weight: bold;
  background-color: white;
}
.navbar-wrapper .navbar-top-wrapper .navbar-hamburger-menu-show .navbar-hamburger-menu-top {
  background-color: blue;
  height: 0.2rem;
  transition: 1s ease-in-out;
}
.navbar-wrapper .navbar-top-wrapper .navbar-hamburger-menu-show ul {
  list-style: none;
  padding: 0 0.2rem;
}
.navbar-wrapper .navbar-top-wrapper .navbar-hamburger-menu-show ul li {
  font-size: 1.1rem;
  margin: 0.2rem 0;
  padding: 0.8rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.347);
}
.navbar-wrapper .navbar-top-wrapper .navbar-hamburger-menu-show ul li:hover {
  background-color: rgba(128, 128, 128, 0.115);
  transition: 0.6s;
  cursor: pointer;
  color: rgba(128, 128, 128, 0.856);
}
.navbar-wrapper .navbar-top-wrapper .navbar-hamburger-menu-noshow {
  display: none;
  transition: 1s ease-in-out;
}
.navbar-wrapper .navbar-text-wrapper {
  display: none;
  gap: 8px;
  align-items: center;
}
.navbar-wrapper .navbar-text-wrapper ul {
  display: flex;
  list-style: none;
}
.navbar-wrapper .navbar-text-wrapper ul .navbar-text-link {
  margin: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.navbar-wrapper .navbar-text-wrapper ul .navbar-text-link select {
  font-weight: bold;
  background-color: #f8f4fc;
  border: none;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}
.navbar-wrapper .navbar-text-wrapper ul .navbar-text-link select:active {
  background-color: white;
}
.navbar-wrapper .navbar-text-wrapper ul li:hover {
  cursor: pointer;
  color: rgba(46, 46, 46, 0.8);
  transition: 0.3s;
}
.navbar-wrapper .navbar-text-wrapper button {
  display: block;
  margin-left: 380px;
  padding: 15px 10px;
  width: 180px;
  background-color: black;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
.navbar-wrapper .navbar-text-wrapper button a {
  text-decoration: none;
  color: white;
}
.navbar-wrapper .navbar-reservation-button {
  background-color: black;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
}
.navbar-wrapper .navbar-reservation-button a {
  text-decoration: none;
  color: white;
}
.navbar-wrapper .navbar-search-wrapper {
  background-color: #d09c9c;
  width: 70%;
  height: 100%;
  padding: 0.9rem;
  padding-top: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}
.navbar-wrapper .navbar-search-wrapper input {
  padding: 0.8rem;
  width: 90%;
  background-color: #d6aaaa;
  border: none;
  color: white;
}
.navbar-wrapper .navbar-search-wrapper a {
  display: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 23px;
}
.navbar-wrapper .navbar-search-wrapper .navbar-search-number {
  display: block;
}

.hero-wrapper {
  margin: 1.9rem;
  margin-top: 4rem;
}
.hero-wrapper .hero-h1 {
  font-weight: bold;
  font-size: 2.5rem;
}
.hero-wrapper .hero-h2 {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.hero-wrapper .hero-button {
  background-color: white;
  border: 2px solid #f27960;
  color: #f27960;
  cursor: pointer;
  padding: 0.9rem 1.7rem;
  margin: 1.8rem 0;
  font-size: 1.2rem;
}
.hero-wrapper .hero-img-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-wrapper .hero-img-text-wrapper img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.hero-wrapper .hero-img-text-wrapper .hero-img-left {
  border-bottom-right-radius: 12rem;
}
.hero-wrapper .hero-img-text-wrapper .hero-img-right {
  border-radius: 10rem;
  margin-top: 3rem;
}
.hero-wrapper .hero-img-text-wrapper .hero-text-wrapper {
  margin-top: 0.8rem;
}
.hero-wrapper .hero-img-text-wrapper .hero-text-wrapper .hero-text-title {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.hero-wrapper .hero-img-text-wrapper .hero-text-wrapper .hero-text-subtitle {
  color: #fc10fc;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.hero-wrapper .hero-img-text-wrapper .hero-text-wrapper .hero-text-1 {
  margin: 1.5rem 0;
  color: #9097a8;
}
.hero-wrapper .hero-img-text-wrapper .hero-text-wrapper ul li {
  color: #9097a8;
  margin: 1rem 1.1rem;
  line-height: 1.5rem;
}
.hero-wrapper .hero-img-text-wrapper .hero-text-wrapper ul .hero-text-bold {
  font-weight: 500;
}
.hero-wrapper .hero-img-text-wrapper .hero-text-wrapper .hero-text-2, .hero-wrapper .hero-img-text-wrapper .hero-text-wrapper .hero-text-3 {
  color: #9097a8;
  line-height: 1.9rem;
  margin: 2rem 0;
}

.especiales-wrapper {
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 2rem;
  padding: 1.2rem;
}
.especiales-wrapper .especiales-title1, .especiales-wrapper .especiales-title2 {
  font-size: 1.7rem;
  color: white;
  font-weight: bold;
  margin: 0;
  padding-top: 1rem;
}
.especiales-wrapper .especiales-title3 {
  font-size: 1.7rem;
  color: purple;
  font-weight: bold;
  margin-bottom: 2rem;
}
.especiales-wrapper .especiales-servicios-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.especiales-wrapper .especiales-servicios-wrapper p {
  color: white;
  font-size: 1.05rem;
  font-weight: 500;
}
.especiales-wrapper .especiales-servicios-wrapper .especiales-servicios {
  margin: 1rem 0;
}
.especiales-wrapper .especiales-servicios-wrapper .especiales-precio {
  font-weight: bold;
}
.especiales-wrapper button {
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid white;
  color: white;
  padding: 0.7rem 1.3rem;
  margin: 1.7rem 0;
  cursor: pointer;
  font-size: 1.3rem;
}
.especiales-wrapper button:hover {
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.sedes-wrapper {
  margin: 1.9rem;
  margin-top: 4rem;
}
.sedes-wrapper .sedes-info-wrapper .sedes-info-h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.sedes-wrapper .sedes-info-wrapper .sedes-info-p-1 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.sedes-wrapper .sedes-info-wrapper .sedes-info-p-2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.sedes-wrapper .sedes-img-maps-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sedes-wrapper .sedes-img-maps-wrapper img {
  width: 100%;
  margin-bottom: 1rem;
}
.sedes-wrapper .sedes-img-maps-wrapper iframe {
  width: 100%;
}

.testimonials-wrapper {
  margin: 1.9rem;
  margin-top: 4rem;
}
.testimonials-wrapper h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.testimonials-wrapper .testimonials-subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.testimonials-wrapper .testimonials-cards-wrapper {
  box-shadow: 1px 1px 10px black;
  border-radius: 1rem;
  background-color: rgb(224, 156, 140);
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}
.testimonials-wrapper button {
  border: 1px solid black;
  width: 12rem;
  margin: 1rem 2rem;
  padding: 1.5rem;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  line-height: 1.5rem;
}

.testimonialcard-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.91);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin: 2rem 0 1rem 0.5rem;
}
.testimonialcard-wrapper img {
  border-radius: 100%;
  margin-top: 1rem;
  width: 5.5rem;
}
.testimonialcard-wrapper .testimonialcard-text {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0.5rem;
  padding: 1rem;
}
.testimonialcard-wrapper .testimonialcard-client {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.testimonialcard-wrapper .testimonialcard-service {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.footer-wrapper h4 {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.footer-wrapper .footer-left-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-wrapper .footer-left-wrapper img {
  width: 2rem;
  background-color: black;
  margin: 1rem 1.5rem;
}
.footer-wrapper .footer-center-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-wrapper .footer-center-wrapper .footer-center-text {
  margin: 0.5rem 0;
  font-weight: 500;
}
.footer-wrapper .footer-right-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-wrapper .footer-right-wrapper .footer-right-title {
  margin-top: 4rem;
}
.footer-wrapper .footer-right-wrapper .footer-right-text {
  margin: 0.5rem 0;
  font-weight: 500;
}
.footer-wrapper .footer-right-wrapper .footer-right-text-2 {
  margin-bottom: 3rem;
}

.hero-services-img-wrapper {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: -1;
}
.hero-services-img-wrapper .hero-services-img {
  height: 90%;
}

.hero-services-banner-wrapper {
  background-color: black;
  opacity: 90%;
  padding: 3rem;
  color: white;
  margin: 1rem;
}
.hero-services-banner-wrapper .hero-services-banner-h1 {
  line-height: 2rem;
}
.hero-services-banner-wrapper .hero-services-banner-h2 {
  margin: 2rem 0;
  font-weight: normal;
  font-size: 1.3rem;
}
.hero-services-banner-wrapper .hero-services-banner-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: right;
}

.list-services-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-services-icons-wrapper .list-services-icon {
  margin: 3rem 0;
  z-index: 1;
}
.list-services-icons-wrapper .list-services-icon-bg {
  position: absolute;
  top: 10rem;
}

html {
  scroll-behavior: smooth;
  background-image: url("../images/backgroundimg.png");
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */