@import "./NavBar";
@import "./Hero";
@import "./Especiales";
@import "./Sedes";
@import "./Testimonials";
@import "./TestimonialsCard";
@import "./Footer";
@import "./ServicesComponents/HeroServices";
@import "./ServicesComponents/ListServices";

html {
    scroll-behavior: smooth;
    background-image: url("../images/backgroundimg.png");
    background-repeat: no-repeat;
    background-position: center;
}