.sectionservicecard-wrapper {
    .sectionservicecard-img {
        margin: 0 2rem;
        width: 80%;
        border-radius: 2rem;
    }
    .sectionservicecard-title {
        font-size: 1.1rem;
        margin: 1rem 1rem 1rem 2rem;
    }
    .sectionservicecard-text {
        margin: 1rem 2rem;
        color: #9097a8;
        line-height: 2rem;
    }
    .sectionservicecard-price {
        margin: 1rem 2rem 4rem 2rem;
        font-size: 1.1rem;
        font-weight: bold;
        font-style: italic;
    }
}
